h1 {text-transform: uppercase; text-align: center; font-family: 'Open Sans', sans-serif;font-weight:300; font-size: 2.57em;color: #666;cursor: default;}
h1.size48 {font-size: 2.57em;}
h1.margin-top-x {margin: 30px 0 20px 0;}
table.table-monitor td{vertical-align: top;}
table.table-monitor td p{margin: 0 0 20px;}
.last{padding-bottom: 15px;}
.blocks-wr{padding-right: 5px;}
.search-form--add-cryteria a {padding: 20px 5px 15px;}

/*************************** Header *******************************************/
.no-padding{padding-right: 0;padding-left: 0;}
.sprite-icon-calendar {width: 24px;height: 24px;background: url('../images/sprite.png') no-repeat;background-position: -537px 0;}
.sprite-attantion {width: 25px;height: 25px;background: url('../images/sprite.png') no-repeat;background-position: 0 -546px;}

.sprite-customer {width: 46px;height: 46px;background-position: -616px -92px;}
.sprite-provider {width: 46px;height: 46px;background-position: -616px -46px;}
.sprite-tender-search {width: 46px;height: 46px;background-position: -616px 0;}

.top-menu {min-height: 30px; border: none; background: #f0f5f2; text-transform: uppercase; margin-bottom: 0;}
.top-menu .navbar-nav > li > a{padding-top: 5px; padding-bottom: 5px;}
.top-menu.navbar-default .navbar-nav > li{float: none;}
.top-menu.navbar-default .navbar-nav > li > a {line-height: 24px;color: #6dc8eb;}
.top-menu.navbar-default .navbar-nav > li > a:hover,.top-menu.navbar-default .navbar-nav > li > a:focus {text-decoration: underline;color:#0099cc;}
.top-menu.navbar-default .navbar-nav > li.active >a {color:#666;background: none;}
.top-menu .event-calendar{text-align: center;line-height: 33px;	}
.top-menu .event-calendar a i.sprite-icon-calendar{margin: 0 10px;}
.top-menu .event-calendar a{color: #6dc8eb;}
.top-menu .event-calendar a:hover,.top-menu .event-calendar a:focus{text-decoration: underline;}
.top-menu .event-calendar a:hover i.sprite-icon-calendar,.top-menu .event-calendar a:focus i.sprite-icon-calendar{background-position: -537px -24px;}
.top-menu .ofnews{line-height: 30px;}
.top-menu .event-calendar a:hover i.sprite-attantion,.top-menu .event-calendar a:focus i.sprite-attantion{background-position: -25px -546px;}

.main-menu {border: none; margin-bottom:0;}
.main-menu.navbar-default {background: none;}
.main-menu .navbar-brand{height: auto;}
.main-menu .main-menu--list {margin-left: 295px;margin-right: 210px;}
.main-menu .navbar-nav > li {float:none; padding:45px 5px;width: 1%;}
.main-menu .navbar-nav > li > a{white-space:nowrap;color: #333;padding: 0;border-bottom: 2px solid #fff;}
.main-menu .navbar-nav > li > a:hover,.main-menu .navbar-nav > li > a:focus, .main-menu .navbar-nav > li.current-menu-item > a{color: #666;border-bottom: 2px solid #666;}
.main-menu .navbar-collapse::after{content: '';clear: none;display: block;}
.main-menu .registration{text-align: center;font-weight: bold;max-width: 185px;line-height: 28px;margin: 29px 5px 24px;padding: 12px 28px;position: relative;color: #333;display:inline-block;text-transform: uppercase;background-size: cover;background: url('../images/logo-part.png') 50% 0 no-repeat,-moz-linear-gradient(left,  rgba(143,215,133,1) 0%, rgba(109,200,235,1) 100%); /* FF3.6-15 */background: url('../images/logo-part.png') 50% 0 no-repeat,-webkit-linear-gradient(left,  rgba(143,215,133,1) 0%,rgba(109,200,235,1) 100%); /* Chrome10-25,Safari5.1-6 */background: url('../images/logo-part.png') 50% 0 no-repeat,linear-gradient(to right,  rgba(143,215,133,1) 0%,rgba(109,200,235,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: url('../images/logo-part.png') 50% 0 no-repeat,progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fd785', endColorstr='#6dc8eb',GradientType=1 ); /* IE6-9 */}
.main-menu .registration:hover,.main-menu .registration:focus{color: #333;text-decoration: none;background: url('../images/logo-part.png') 50% 0 no-repeat,-moz-linear-gradient(left,  rgba(176,227,168,1) 0%, rgba(151,216,241,1) 100%); /* FF3.6-15 */background: url('../images/logo-part.png') 50% 0 no-repeat,-webkit-linear-gradient(left,  rgba(176,227,168,1) 0%,rgba(151,216,241,1) 100%); /* Chrome10-25,Safari5.1-6 */background: url('../images/logo-part.png') 50% 0 no-repeat,linear-gradient(to right,  rgba(176,227,168,1) 0%,rgba(151,216,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: url('../images/logo-part.png') 50% 0 no-repeat,progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e3a8', endColorstr='#97d8f1',GradientType=1 ); /* IE6-9 */}

ul.language-chooser{list-style: none;padding: 0;margin: 0;display: inline-block;width: auto;line-height: 30px;}
.language-chooser li,.qtranxs_widget_end{	display: inline-block;	margin: 0 5px;}
.language-chooser li a{padding-top: 7px;padding-bottom: 3px;}
.language-chooser li a:hover,.language-chooser li a:focus{color: #0099cc;}
.language-chooser li.active,.language-chooser li.active a{color: #666;}

.sections {font-size:1.71em; font-family: 'Open Sans', sans-serif;font-weight:400;text-transform:uppercase;display:table;width:100%;table-layout:fixed;border-collapse:collapse;}
.sections > li{display:table-cell;width: 33%;height:100px;vertical-align:middle;}.sections > li i {margin: 5px;}
.sections > li:hover,.sections > li:focus {background:#e8efeb;}
.sections > li.green-bg:hover,.sections > li.green-bg:focus {background:#b0e3a8;}
.sections > li.blue-bg:hover,.sections > li.blue-bg:focus {background:#97d8f1;}
.sections > li > a {color:#333; padding:12px 15px 5px;}
.sections > li > a:hover,.sections > li > a:focus {background:none;}
.sections > li.active > a {text-align:left;}
.sections.expanded > li {display:table-cell;width:100px;}
.sections.expanded > li > a { margin-bottom:0;}
.sections > li.active, .sections.expanded > li.active,  .sections.expanded > li.active > a {width:100%;}

.startpopup{position: fixed;display: none;z-index: 25;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(255,255,255,0.61);}
.startpopup-wrapper {position: absolute;z-index: 25;width: 40.25%;min-width: 300px;height: auto;min-height: 350px;top: 50%;left: 50%;-webkit-transform: translateY(-50%) translateX(-50%);-moz-transform: translateY(-50%) translateX(-50%);-o-transform: translateY(-50%) translateX(-50%);-ms-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);background-color: #fff;border:2px solid #2ab2ea;padding: 50px;text-align: center;-webkit-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.11);-moz-box-shadow:    7px 7px 0px 0px rgba(0, 0, 0, 0.11);box-shadow:         7px 7px 0px 0px rgba(0, 0, 0, 0.11);}
.startpopup-wrapper h1{text-align: center;}
.startpopup-wrapper h1#title{margin:0 0 50px;}
.startpopup-wrapper .blue-btn {padding:12px 28px; margin: 0 5px; background: #6dc8eb; color:#333; display:inline-block;text-transform: uppercase;}
.startpopup-wrapper .blue-btn:hover,.blue-btn:focus {color:#333;text-decoration: none;background: #97d8f1;}
.startpopup-wrapper .green-btn {padding:12px 28px; margin: 0 5px; background: #8fd785; color:#333; display:inline-block;text-transform: uppercase;}
.startpopup-wrapper .green-btn:hover,.green-btn:focus {color:#333;text-decoration: none;background: #b0e3a8;}
.startpopup-wrapper #btn a{padding: 25px;-webkit-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.11);-moz-box-shadow:    7px 7px 0px 0px rgba(0, 0, 0, 0.11);box-shadow:         7px 7px 0px 0px rgba(0, 0, 0, 0.11);}
.startpopup-wrapper a{width: 90%;display: block;margin: 25px auto;}
.startpopup-wrapper .close-startpopup {display: block;position: absolute;top:-33px;right: 0;float: right;width: 25px;height: 25px;background-color: #fff;border: 2px solid #2ab2ea;border-radius: 50%;margin: 0;font-size: 20px;line-height: 20px;}
.startpopup-wrapper a.close-startpopup:hover,.startpopup-wrapper a.close-startpopup:focus{text-decoration: none;}

@media (max-width: 1190px) {
.top-menu .event-calendar span.text{display: none;}
.top-menu .social{margin-right: 70px;}
.main-menu--list ul.nav li{font-size:12px;}
}
@media (min-width: 769px) and (max-width: 1120px) {
.top-menu .event-calendar span.text,.top-menu .social-top li.title{display: none;}
.main-menu .registration{margin: 35px 18px;line-height: 18px;padding: 12px 15px;}
.event-calendar{float: right;}
}
@media (min-width: 992px) { 
.top-menu ul.language-chooser {margin-left: 30px;}
.top-menu .event-calendar{float: right;text-align: right;}
.top-menu .social{float: right;margin-right: 40px;}
.navbar-header .registration.hidden-md{float: right;display: inline-block!important;}
}
@media (max-width: 991px) and (min-width: 768px){
.visible-sm {display: inline-block!important;}
.top-menu .social {margin-right: 20px !important;}
}
@media (max-width: 1020px) {
.navbar-header .navbar-brand {margin: 10px 0;padding: 0 15px;}
.navbar-header {margin-top: 15px;margin-bottom: 15px;float: none;}
.main-menu .registration {margin: 20px;display: inline-block!important;}
.main-menu .navbar-header>.registration.hidden-md{display: none!important;}
.navbar-toggle {display: block;margin-top: 23px;}
.navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {float: none;margin: 7.5px -15px;}
.navbar-nav>li {float: none;font-size:14px;}
.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
.top-menu .event-calendar,.top-menu ul.language-chooser{line-height: 45px;}
.top-menu .ofnews{line-height: 43px;}
.navbar-collapse.collapse.in { display: block!important;}
.collapsing {overflow: hidden!important;}
.main-menu--list .nav>li {position: relative;display: block;width: 100%;}
.main-menu .navbar-nav > li{padding: 0 15px;}
.pull-right{float: right!important;}
}
@media (max-width: 768px) {
.sections {font-size:1.3em;table-layout:auto;display:block;}
.sections > li{width: 100%;height:auto;display:block;}
.main-menu .main-menu--list .nav-justified>li {width: 1%;}	
.navbar-header .navbar-brand {margin: 15px 0;padding: 0 15px;}
.main-menu .registration{width: 100%;margin-right: 0;margin-left: 0;}
.navbar-header.pull-right{width: 100%;}
.main-menu--list ul.nav li{font-size: 14px;}
.top-menu .social {margin-right: 10px !important;}
.top-menu .event-calendar span.text,.top-menu .social-top li.title{display: none;}
.top-menu .event-calendar,.top-menu ul.language-chooser,.top-menu ul.social-top{line-height: 45px;}
.container>.navbar-header{margin-left: 0px;margin-right: 0px;}
}

/*************************** Social Buttons *******************************************/
[class^="sprite-social-"], [class^="sprite-header-"] {display: inline-block; background: url('../images/sprite-networks.png') no-repeat; overflow: hidden; text-indent: -9999px; vertical-align:middle; text-align: left; }
.sprite-social-fb {width: 24px;height: 24px;background-position: -162px -72px;}
.sprite-social-g {width: 24px;height: 24px;background-position: -186px -72px;}
.sprite-social-in {width: 24px;height: 24px;background-position: -138px -96px;}
.sprite-social-tw {width: 24px;height: 24px;background-position: -162px -96px;}
.sprite-social-vk {width: 24px;height: 24px;background-position: -186px -96px;}

.sprite-header-fb {width: 24px;height: 24px;background-position: -162px -72px;}
.sprite-header-g {width: 24px;height: 24px;background-position: -186px -72px;}
.sprite-header-ln {width: 24px;height: 24px;background-position: -138px -96px;}
.sprite-header-tw {width: 24px;height: 24px;background-position: -162px -96px;}
.sprite-header-youtube {width: 24px;height: 24px;background-position: -138px -120px;}

.sprite-footer-fb {width: 46px;height: 46px;background-position: 0 0;}
.sprite-footer-g {width: 46px;height: 46px;background-position: -92px 0;}
.sprite-footer-ln {width: 46px;height: 46px;background-position: -46px -46px;}
.sprite-footer-tw {width: 46px;height: 46px;background-position: 0 -92px;}
.sprite-footer-youtube {width: 46px;height: 46px;background-position: -92px -92px;}

ul.share {padding-left: 0;margin-bottom: 0; margin-top: 15px; list-style: none;}
.share {color:#39c; font-size: 14px;}
.share > li {display: inline-block;margin: 0 15px;line-height: 22px;}
.share > li > a {padding-top:0; padding-bottom:0;}
.share > li > a:hover, .share > li > a:focus, .share > li > a:active{background:none;}

ul.social-top {padding-left: 0;margin: 0; list-style: none; float: right;}
.social-top > li {display: inline-block;float: left;position: relative;color: #6dc8eb;padding-top: 4px;}
.social-top > li.title{cursor: default;padding-top: 6px;padding-right: 15px;padding-left: 0;}
.social-top > li > a {color: #6dc8eb;line-height: 16px;position: relative;display: block;padding: 0px 8px 5px;}
.social-top > li > a:hover, .social-top > li > a:focus, .social-top > li > a:active{background:none;}
.social-top > li > a:hover i.sprite-header-fb, .social-top > li > a:focus i.sprite-header-fb, .social-top > li > a:active i.sprite-header-fb {background-position: -184px 0;}
.social-top > li > a:hover i.sprite-header-g, .social-top > li > a:focus i.sprite-header-g, .social-top > li > a:active i.sprite-header-g {background-position: -184px -24px;}
.social-top > li > a:hover i.sprite-header-ln, .social-top > li > a:focus i.sprite-header-ln, .social-top > li > a:active i.sprite-header-ln {background-position: -138px -48px;}
.social-top > li > a:hover i.sprite-header-tw, .social-top > li > a:focus i.sprite-header-tw, .social-top > li > a:active i.sprite-header-tw {background-position: -162px -48px;}
.social-top > li > a:hover i.sprite-header-vk, .social-top > li > a:focus i.sprite-header-vk, .social-top > li > a:active i.sprite-header-vk {background-position:  -186px -48px;}
.social-top > li > a:hover i.sprite-header-youtube, .social-top > li > a:focus i.sprite-header-youtube, .social-top > li > a:active i.sprite-header-youtube {background-position: -138px -72px;}

.footer ul.social-top {padding-left: 0;margin: 0; list-style: none; float: right;}
.footer .social-top > li.title {display: none;}
.footer .social-top > li {display: inline-block;float: left;position: relative;}
.footer .social-top > li > a {color: #6dc8eb;line-height: 46px;position: relative;display: block;padding: 6px 5px 5px;}
.footer i.sprite-header-fb { width: 46px;height: 46px;background-position: 0 0;}
.footer i.sprite-header-g {width: 46px;height: 46px;background-position: -92px 0;}
.footer i.sprite-header-ln {width: 46px;height: 46px;background-position: -46px -46px;}
.footer i.sprite-header-tw {width: 46px;height: 46px;background-position: 0 -92px;}
.footer i.sprite-header-youtube {width: 46px;height: 46px;background-position: -138px 0;}
.footer .social-top > li > a:hover, .footer .social-top > li > a:focus, .footer .social-top > li > a:active{background:none;}
.footer .social-top > li > a:hover i.sprite-header-fb, .footer .social-top > li > a:focus i.sprite-header-fb, .footer .social-top > li > a:active i.sprite-header-fb {background-position: -46px 0}
.footer .social-top > li > a:hover i.sprite-header-g, .footer .social-top > li > a:focus i.sprite-header-g, .footer .social-top > li > a:active i.sprite-header-g {background-position: 0 -46px;}
.footer .social-top > li > a:hover i.sprite-header-ln, .footer .social-top > li > a:focus i.sprite-header-ln, .footer .social-top > li > a:active i.sprite-header-ln {background-position: -92px -46px;}
.footer .social-top > li > a:hover i.sprite-header-tw, .footer .social-top > li > a:focus i.sprite-header-tw, .footer .social-top > li > a:active i.sprite-header-tw {background-position: -46px -92px;}
.footer .social-top > li > a:hover i.sprite-header-youtube, .footer .social-top > li > a:focus i.sprite-header-youtube, .footer .social-top > li > a:active i.sprite-header-youtube {background-position:-92px -92px;}

.social-no-title {display: inline-block;}
.social-no-title ul.share > li:first-child{display: none;}

span.share-count{display: inline-block;margin-left: 10px;color: #333;}

/*************************** Footer *******************************************/

.footer {font-size: 1.05em; margin-bottom:0; border:none; padding-top:30px; margin-top:50px;background-color:#f0f5f2;height: auto;}
.footer h4{color: #666; margin: 10px 0 25px 0;text-transform: uppercase;}
.footer a {color:#999;}
.footer a:hover, .footer a:active, .footer a:focus {color:#666;}
.footer .nav > li {padding:5px 0;}
.footer .nav-justified a{padding:0; text-align:left;}
.footer .navbar-nav > li {float:none; }
.footer .footer--copyright{background:#54a8c7; color:#fff; line-height:20px; padding:15px 0; margin-top:30px;}
.footer .footer--copyright a{color:#fff;}
.footer .footer--copyright a:hover,.footer .footer--copyright a:focus{color:#fff;text-decoration: underline;}

nav.footer .current-menu-item a{text-decoration: none;color: #0099cc;}

.back-to-top {position: fixed;bottom: 1em;right: 1em;width: 55px;height: 55px;background: url('../images/sprite.png') no-repeat;background-position: -482px 0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;padding: 1em;display: none;}
.back-to-top:hover {background-position: -482px -55px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1.0);-moz-opacity: 1.0;-khtml-opacity: 1.0;opacity: 1.0;}
.go-down {position: fixed;top: 1em;right: 1em;width: 55px;height: 55px;background: url('../images/sprite.png') no-repeat;background-position: -561px 0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.4);-moz-opacity: 0.4;-khtml-opacity: 0.4;opacity: 0.4;padding: 1em;display: none;}
.go-down:hover { background-position: -537px -55px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1.0);-moz-opacity: 1.0;-khtml-opacity: 1.0;opacity: 1.0;}

@media (max-width: 1020px) {
.navbar-header .navbar-brand {padding: 0 15px;}
.navbar-header {float: none;}
.navbar-toggle {display: block;}
.navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {float: none;margin: 7.5px -15px;}
.navbar-nav>li {float: none;}
.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
.top-menu .event-calendar,.top-menu ul.language-chooser{line-height: 45px;}
.navbar-collapse.collapse.in { display: block!important;}
.collapsing {overflow: hidden!important;}
.main-menu--list .nav>li {position: relative;display: block;width: 100%;}
.main-menu .navbar-nav > li{padding: 0 15px;}
.pull-right{float: right!important;}
}

@media (min-width:768px) and (max-width: 992px) { 
.top-menu .event-calendar span.text,.top-menu .social-top li.title{display: none;}
}

@media (max-width: 768px) {
.top-menu .event-calendar span.text,.top-menu .social-top li.title{display: none;}
.footer .footer--copyright div{text-align: center !important;}
}

.startpopup-wrapper .blue-btn {padding:12px 28px; margin: 0 5px; background: #6dc8eb; color:#333; display:inline-block;text-transform: uppercase;}
.startpopup-wrapper .blue-btn:hover,.blue-btn:focus {color:#333;text-decoration: none;background: #97d8f1;}
.startpopup-wrapper .green-btn {padding:12px 28px; margin: 0 5px; background: #8fd785; color:#333; display:inline-block;text-transform: uppercase;}
.startpopup-wrapper .green-btn:hover,.green-btn:focus {color:#333;text-decoration: none;background: #b0e3a8;}

/*********************************************** New Sections Icons***********************************/
li.gray-bg span,li.green-bg span,li.blue-bg span{display: block;}
li.green-bg span,li.blue-bg span{margin-top: 16px;}
li.green-bg.active span,li.blue-bg.active span{margin-top: 23px;}
.green-bg .sprite-provider{width: 100px;height: 100px;background-position: -762px -300px;margin: -12px 0 0 -16px;float: left;}
.gray-bg .sprite-tender-search{width: 142px;height: 100px;background-position: -913px -100px;margin-left: 5px;margin-bottom: 0;margin-top: -12px;float: left;}
.expanded .gray-bg .sprite-tender-search{width: 100px;height: 100px;background-position: -662px -300px;margin-left: -13px;margin-bottom: 0;margin-top: -12px;}
.blue-bg .sprite-customer{width: 100px;height: 100px;background-position: -947px -200px;margin: -12px -2px -3px 0;float: right;}
@media only screen and (max-width : 768px){
	li.gray-bg span,li.green-bg span,li.blue-bg span{display: inline-block;}
	.gray-bg .sprite-tender-search,.expanded .gray-bg .sprite-tender-search{width: 100px;height: 100px;background-position: -662px -300px;margin-left: 5px;margin-bottom: 0;margin-top: -12px;float: none;}
}
@media only screen and (max-width : 480px){
	.sections > li,.sections.expanded > li {width: 100%;height: 100px;display: block;}
	.sections > li.active > a {text-align: center;}
	li.blue-bg .sprite-customer,li.green-bg .sprite-provider,li.gray-bg .sprite-tender-search,.expanded li.blue-bg .sprite-customer,.expanded li.green-bg .sprite-provider,.expanded li.gray-bg .sprite-tender-search{float: left;margin-left: 1px;}
	li.green-bg span, li.blue-bg span,li.gray-bg span {margin-top: 28px;white-space: nowrap;display: inline-block !important;}
}
@media only screen and (max-width : 320px){
	li.green-bg.active span, li.blue-bg.active span,li.green-bg span, li.blue-bg span,li.gray-bg span{font-size: 0.9em;}
	nav.top-menu .social {margin-right: -30px !important;}
	nav.top-menu .event-calendar{margin-left: 22px;margin-right: -25px;}
}
